<!-- File HTML untuk mengisi data 'Contact' -->
<!-- Content -->
<div class="container mt-5">
	<h1 class="text-center">Contact</h1>
	<hr>
	  <!-- Flash Message  -->
	  <% if (msg.length !== 0) { %>
		<div class="alert alert-success" role="alert">
		  <%= msg %> 
		</div>
	  <% } %>
  
	  <a href="/contact/add" class="btn btn-secondary mb-2">+ Add</a>
	  <table class="table table-dark table-hover	">
		<thead>
		  <tr style="background-color: #C3F8FF;">
			<th scope="col">No</th>
			<th scope="col">Name</th>
			<th scope="col">Mobile</th>
			<th scope="col">Action</th>
		  </tr>
		</thead>
		<!-- Cek Jika data Kosong -->
		<% if (contacts.length <1) { %>
		<tbody>
			<tr>
			  <td colspan="4">
				<div class="alert alert-danger" role="alert">Data Contact Empty</div>
			  </td>
			</tr>
		  <% } else {%>
		  <% contacts.forEach((contact,i) => { %>
		  <tr>
			<th><%= i+1 %></th>
			<td><%= contact.name %></td>
			<td><%= contact.mobile %></td>
			<td>
			  <a href="/contact/<%= contact.name %>" class="btn btn-light badge circle" style="color: #000;">Detail</a>
			</td>
		  </tr>
		  <% }); %>
		</tbody>
		<% }; %>
	  </table>
  </div>