<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Page to Edit Data</h2>
            <!-- Cek Jika Type Error tidak bernilai undefined -->
            <% if (typeof errors != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach(err => { %>
                         <li><%= err.msg %> </li>
                        <% }) %>
                    </ul>
                  </div>
            <% } %>

            <form method="POST" action="/contact/update">
                <input type="hidden" class="form-control" name="oldNama" required value="<%= contact.oldNama || contact.name %>">
                <div class="mb-3">
                  <label for="nama" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" required value="<%= contact.name %>">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required value="<%= contact.email %>">
                </div>
                <div class="mb-3">
                    <label for="mobile" class="form-label">Mobile</label>
                    <input type="text" class="form-control" id="mobile" name="mobile" required value="<%= contact.mobile %>">
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
              </form>
        </div>
    </div>
</div>